In [1]:
import os
os.getcwd()

'C:\\Users\\abdul\\Documents\\NareshIt\\Phyton'

**Input**

- we can take the values directly in python code
    - ex:num=10
- we cantakethe values from user like from keyboard
- Imagine there is application from we need to fill
- In the application form name:square box will appear
- you need to enter your name
- This is achieved by a keyword **input**

In [1]:
input()

 naresh it

'naresh it'

In [ ]:
- when we type input()
- a square box will appear
- you need to observe 3things
    - square box
- o mark inside square brackets that is before the code cell 
- *python kernel is black color
-

In [3]:
input()

 rahi

'rahi'

In [5]:
input()

 100

'100'

In [7]:
input()

 True

'True'

**Note**
- Whatever we type in square brackets,the output display in quotes
- The output default type is string type

In [10]:
input()
input()
input()

 10
 20
 30

'30'

In [12]:
input()

 a=10

'a=10'

In [14]:
input()

 a=10 b=20 c=a+b print(c)

'a=10 b=20 c=a+b print(c)'

In [20]:
a=input()
b=input()
print(a)
print(b)
print(f'The value of a is:{a} and b is:{b}')

 10
 20

10
20
The value of a is:10 and b is:20

In [24]:
# Ask the user enter the name
# city and country
# print the statement
name=input()
city=input()
country=input()
print(f'My name is{name},I amfrom{city},I am from {country}')

 naresh
 hyderabad
 india

My name isnaresh,I amfromhyderabad,I am from india

In [26]:
input()
input('enter the name')
input('enter the name:')
input('enter the city:')
input('enter')

 10
enter the name rahi
enter the name: shaik
enter the city: hyd
enter okay

'okay'

In [30]:
name=input('enter the name')
city=input('enter the city:')
country=input('enter the country:')
print(f'my name is {name},I am from{city} which is located in{country}')

enter the name rahi
enter the city: hyd
enter the country: india

my name is rahi,I am fromhyd which is located inindia

In [38]:
n1=input('n1')
n2=input('n2')
n1+n2

n1 10
n2 20

'1020'

In [40]:
int('100')

100

In [42]:
n1=int('100')
n2=int('200')
n1+n2

300

In [44]:
n1=int(input('n1'))
n2=int(input('n2'))
n1+n2

n1 10
n2 20

30

In [46]:
n1='100'
n2='200'
n1+n2

'100200'

In [50]:
n1='100'
n2='200'
int(n1)+int(n2) #int('100')+int('200')

300

In [52]:
#wrong
n1='100'
n2='200'
int(n1+n2)# int('100'+'200')

100200

In [54]:
n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
n1+n2

enter the number1: 100
enter the number2: 200.5

ValueError: invalid literal for int() with base 10: '200.5'

In [1]:
n1=int(input("enter the number1:"))
n2=int(input("enter the number2:"))
n1+n2

enter the number1: 200.35

ValueError: invalid literal for int() with base 10: '200.35'

**eval**
- Whenever you listen eval:evaluate
- evaluate is belongs to math family
- It will convert integer value to integer
- It will convert float value to float only
- directly apply the eval and it will convert into corresponding data type
- whenever you use eval,dont provide strings,it will give error

In [8]:
n1=eval(input("enter the number1:"))
n2=eval(input("enter the number2:"))
print(n1+n2)

enter the number1: 50.5
enter the number2: 67

117.5

In [14]:
#Q1:
n1=eval(input('enter the number:'))
n2=eval(input('enter the value n2:'))
n3=eval(input('enter the value n3:'))
avg=(n1+n2+n3)/3
print(avg)

enter the number: 10
enter the value n2: 20
enter the value n3: 30

20.0

In [16]:
h1=eval(input('enter the height:'))
b1=eval(input('enter the breadth:'))
area=(1/2)*b1*h1
print(area)

enter the height: 20.5
enter the breadth: 10.5

107.625

In [20]:
r=eval(input('enter the radius:'))
area=3.14*r*r
print(area)

enter the radius: 20

1256.0

In [22]:
l=eval(input('enter the length:'))
b=eval(input('enter the breadth:'))
area=l*b
print(area)

enter the length: 100.5
enter the breadth: 200.4

20140.2

In [24]:
bill_amount=eval(input('enter the amount:'))
tip_percentage=eval(input('enter the tip:'))
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print(total_bill)

enter the amount: 1000
enter the tip: 10

1100.0