**Variable**

**Variables**

- Variables are used to store the values
- Variables can change their values
- Varyyy:varying

In [4]:
number=100
number
# 100 is stored in a variable called 'number'

100

In [6]:
number=200
number

200

In [8]:
raviteja=2500
raviteja
#type ra
#enter tab
#you can see the names which are starting with ra

2500

In [10]:
NUMBER=200
NUMBER

200

In [12]:
NUmber=100
NUmber

100

In [14]:
number123=400
number123

400

In [16]:
123number=500
123number
#Variables does not have numbers as prefix
#variables should not start with numbers

SyntaxError: invalid decimal literal (1186622190.py, line 1)

In [18]:
Number*one=500
Number*one
#Variables does not have spl characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1787103918.py, line 1)

In [20]:
number_one=500
number_one
# variables can have underscore

500

In [24]:
_=900
_
# only underscore can represent asvariables

900

In [26]:
number_123_two=700
number_123_two

700