**Datatypes**
- In python we have many data types
      - Integer
        - float
        - string
        - boolean

**Integer**
- Inpython no need to mention a data type like c
- It will consider the data type itself

number=100
# In order to check the type of avariable we will use
# In built function calles as type

type(number)

In [8]:
number=100

In [10]:
type(number)

int

In [12]:
type(100)

int

**Binary**
- Binary has bi which indicates two
- We have total 0 to 9 digits to repreent any number
- From there we will take only first  two digits i.e.0 and 1
- Ex:0b101,oB0001
- Wrong representation:0b002 1b001

In [15]:
0b111

7

In [17]:
0b100001

33

In [19]:
0b000001

1

In [21]:
0b1111

15

In [24]:
# digital logic design
 4  2 1
 0  0 0 0
 0  0 1 1 ]
 0  1 0 2
 0  1 1 3
 1  0 0 4
 1  0 1 5
 1  1 0 6
 1  1 1 7
8 4 2 1
0 0
0 0
0 0
0 0
0 1
0 1
0 1
0 1
1 0
1 0
1 0
1 0
1 1
1 1
1 1
1 1

IndentationError: unexpected indent (1167754124.py, line 2)

Different types of number systems:binary,octa,hexa,decimal

**Octa**
- Octa means 8
- we have 0 to 9 digits to represent any number
- from there we will take only starting 8 digits i.e.0 to 7
- ex: 0o123 ,0o567,0O10006
- wrong representation is:0o786 because 7,6 but 8

In [3]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

In [5]:
0o123

83

In [7]:
0O456

302

In [9]:
0o345

229

**HEXA**
- Hexa means 16
- we have 0 to 9 digits to represent any number
- After 9 we will use A to F A:10, B:11, C:12,D:13,E:14,F:15
- ex: 0x123, 0XABC,0x9ad
- Wrong representation is:0xFGH

In [12]:
0xabc

2748

In [14]:
2898

2898

In [16]:
0xb52

2898

**Float**

In [22]:
num=10.5
type(num)

float

In [24]:
type(10),type(10.5)

(int, float)

In [32]:
10e1 #10*<10>=100
10e2 #10*<100>=1000
10e3 #10*<1000>=10000
10e4 #10*<10000>=100000

100000.0

In [34]:
10 
20
# In jupyter notebook by default last value will print

20

In [36]:
# If you want to see all the answers apply print
print(10)
print(20)

10
20

In [38]:
print(10e1 )
print(10e2 )
print(10e3 )
print(10e4)

100.0
1000.0
10000.0
100000.0

In [40]:
10,20

(10, 20)

In [44]:
10e+1,10e+2,10e+3

(100.0, 1000.0, 10000.0)

In [46]:
10E2

1000.0

In [48]:
2898 in hexa

NameError: name 'hexa' is not defined

In [50]:
hex(2898)

'0xb52'

In [54]:
print(10e-1)
print(10e-2)
print(10e-3)

1.0
0.1
0.01

- In the machine learning we often see the value in exponential form
- In somecase we need to search for zero value
- In ML with python we rarely see exact an answer zero

**Strings**
- String represents english characters
- Strings will represent with quotes
    -single quotes
    -Double quotes
    -Triple quotes

In [58]:
str1='python'
str1

'python'

In [60]:
type(str1)

str

In [62]:
str2="python"
str2

'python'

- we can represent in any way python will give in single quotes

In [65]:
print(str1)

python

- When we apply print on string it will display without quotes

In [68]:
str3="abc123"
type(str3)

str

In [70]:
type('10'),type('10.5'),type('apple')

(str, str, str)

- any data type or any value is provided by quote means
- It become a string only
- Strings always in Red color
- variables in Black Color
- Keywords or numbers always in gREEN COLOR

In [8]:
Rahi='rahi' #'rahi'is a english letters stored in a variable name called Rahi
type(Rahi)

str

str1='I like python'

In [80]:
str1="I like'python'"
print(str1)

I like'python'

In [82]:
str2='I like"python"'
print(str2)

I like"python"

- If you want to hightlight any word
- represent entire string in single quote,highlighted word in double quotes viceversa

In [85]:
str1='Aymaan'
print(str1)

Aymaan

In [89]:
str1="Hai 
How are you"

SyntaxError: unterminated string literal (detected at line 1) (1843104000.py, line 1)

In [101]:
str1="""Hai
       How are you"""
print(str1)

Hai
       How are you

str1="""hai
       how are you
       im good""
str1

- Triple quotes is used for write a multiline comments
- This is called as *Docstring*
- In order to write a story in jupyter notebook we have a markdown
- Then how to write a story:By using triple quotes
- if any peron writing something uing triple quotes, which indicates the user is trying to convey the information
- this process is called Docstring

**Boolean**

- computer takes the valuess in Binary format(1,0)
- computer gives the answer in Boolean format
    - TRUE
    - FALSE
- True indiactes 1
- False indiactes 0

In [107]:
val=True
type(val)

bool

In [109]:
val1=False
type(val1)

bool

In [112]:
true='True'
TRUE=True
type(true),type(TRUE)

(str, bool)

In [3]:
a=10
b=10.5
c='10'
d=True
type(a),type(b),type(c),type(d)

(int, float, str, bool)

In [5]:
val=TRUE
type(val)

NameError: name 'TRUE' is not defined

In [1]:
val='TRUE'
type(val)

str

In [3]:
val=True
type(val)

bool